<div class="chat-message">
    <% if @conversation.nil? %>
        <p>Please select a chat to start messaging</p>
    <% else %>
        <!--=========================================================-->
        <!-- selected chat -->
        <ul id="messageBox_<%= @conversation.recipient_id %>" class="chat">
            <%= render "/messages/message", remote: true %>
        </ul>
    </div>
    <div class="chat-box bg-white">
        <div class="input-group">
            <%= form_for(@message, :remote=> true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
                <%= f.hidden_field :sender_id, value: current_user.id%>
                <%= f.hidden_field :conversation_id, value: @conversation.id%>
                <%= f.text_area :content, :required => true, class: "form-control border no-shadow no-rounded input-area", placeholder: "Type your message here" %>
                <%= f.submit "send", class: "btn btn-success no-rounded input-btn"%>
            <% end %>
        </div><!-- /input-group -->	
    <% end %>
</div>