<div class="chat-message">
    <h3><%= @user.first_name%> <%= @user.last_name%></h3>
    <fieldset>
        <legend>Profile</legend>
        <%= form_for(@user, url: user_path(@user), method: :put) do |f| %>
            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name %>
            </div>

            <div class="field">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name %>
            </div>

            <div class="field">
                <%= f.label :tel %><br />
                <%= f.text_field :tel %>
            </div>

            <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <% if current_user.id == @user.id %>
                <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
            <% else %>
                <fieldset>
                    <legend>Settings</legend>
                    <div class="field">
                        <%= label_tag :role, 'User role' %><br />
                        <%= select_tag :role, options_for_select(@roles.collect{ |r| [r.name, r.id] }, @user.roles.first.id) %>
                    </div>
                    <% if (@user.has_any_role?(:investor, :borrower)) && @escrow_users.size > 0 %>
                        <div class="field">
                            <%= label_tag :assign_escrow, 'Escrow officer' %> <i>(Current assigned: <% if !@current_officer.nil? %><%= @current_officer.first_name %> <%= @current_officer.last_name %><% else %>None<% end %>)</i><br />
                            <%= select_tag :assign_escrow, options_for_select(@escrow_users.collect{ |r| [r.first_name + ' ' + r.last_name, r.id] }, (@current_officer.id if !@current_officer.nil?) || 0) %>
                        </div>
                    <% end %>
                </fieldset>
            <% end %>
            
            <fieldset>
                <div class="actions">
                    <%= f.submit "Update" %>
                    <%= link_to "Cancel", root_path %>
                </div>
            </fieldset>
        <% end %>
    </fieldset>
</div>