<% @users_array.each do |hash| %>
    <li class="active bounceInDown">
        <%= link_to new_conversation_path(:id => hash[:user].id), class: "clearfix", :remote => true do  %>
            <img src="https://bootdey.com/img/Content/user_<%= hash[:user].id %>.jpg" alt="" class="img-circle">
            <div class="friend-name">	
                <strong><%= hash[:user].first_name %> <%= hash[:user].last_name %></strong>
                <div id="unreadBox_<%= hash[:user].id %>" class="unread-group" style="display:<% if hash[:unread_message_count] > 0 %>block<% else %>none<% end %>;">
                    <img src="<%= asset_path('circle-64.png') %>" class="unread-img">
                    <span class="unread-no"><%= hash[:unread_message_count] %></span>
                </div>
            </div>
        <% end %>
    </li>
<% end %>