<% @users.each do |user| %>
    <li class="active bounceInDown">
        <%= link_to new_conversation_path(:id => user.id), class: "clearfix", :remote => true do  %>
            <img src="https://bootdey.com/img/Content/user_<%= user.id %>.jpg" alt="" class="img-circle">
            <div class="friend-name">	
                <strong><%= user.first_name %> <%= user.last_name %></strong>
                <div id="unreadBox_<%= user.id %>" class="unread-group">
                    <img src="<%= asset_path('circle-64.png') %>" class="unread-img">
                    <span class="unread-no">0</span>
                </div>
            </div>
        <% end %>
    </li>
<% end %>