<div class="container bootstrap snippet">
    <div class="row">
		<div class="col-md-4 left-area">
            <div class="row border-bottom padding-sm navigation-bar" style="height: 60px;">
                <div>
                    <img src="https://bootdey.com/img/Content/user_<%= current_user.id %>.jpg" alt="" class="img-circle">
                </div>
                <span>Hi <%= current_user.first_name %></span> | 
                <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
                <%#= link_to('修改密碼', edit_registration_path(:user)) %>
            </div>
            <!-- =============================================================== -->
            <!-- friend list -->
            <ul class="friend-list">
                <%= render "chat_list" %>      
            </ul>
		</div>
    	<div id="chat" class="col-md-8 bg-white right-area">
            <%= render "/conversations/conversation" %>
        </div>
	</div>
</div>
<%= subscribe_to '/rooms/index' %>